@using MVC.Example.BusinessLayer.Concrate
@model List<Category>


    <table>
        <tr>
            <th>kategoriıd</th>
            <th>kategoriadi</th>
            <th>durumu</th>
            <th>detaylar</th>
            <th>sil</th>
        </tr>
    </table>